version: '3'

services:

  api_backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8080:8080"
    environment:
      MYSQL_URL: mysql://db:3306/video_hosting_db
    restart: always
    depends_on:
      - db

  db:
    image: mysql
    restart: always
    container_name: mysql_backend_db
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8 --collation-server=utf8_general_ci
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: toor
      MYSQL_DATABASE: video_hosting_db
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    cap_add:
      - SYS_NICE